<div class="tab-pane fade active in" id="channelPane_{{>channelName}}">
	<div class="row">
		<div class="input-group" id="userArea" style="margin-bottom: 20px">
			<span class="input-group-addon span2"></span> <input type="text" id="messageInput_{{>channelName}}" class="form-control" placeholder="message" /> <span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="sendMessage('{{>channelName}}', $('#messageInput_{{>channelName}}').val(), function(){ $('#messageInput_{{>channelName}}').val('')});">Send</button>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 breadcrumb hidden-sm hidden-xs" id="channelPane_nameArea_{{>channelName}}"></div>
		<div id="channelPane_messageArea_{{>channelName}}" class="col-sm-9"></div>
	</div>
	<div class="row" style="display: none" id="channelPane_loadNextButtonRow_{{>channelName}}">
		<div class="col-sm-9 col-sm-offset-3">
			<button type="button" class="btn btn-default" style="width: 100%;" onclick="loadOlderMessage('{{>channelName}}')">Load Next</button>
		</div>
	</div>
	<div class="row" style="margin-top: 20px">
		<div id="channelPane_messageArea_{{>channelName}}">
			<ul class="breadcrumb">
				<li>{{>displayChannelName}}</li>
			</ul>
		</div>
	</div>
</div>