<div style="margin-top: 20px" id="pluginPane">
	<div class="row">
		<div class="well well-sm col-sm-2" id="pluginListPane" style="overflow: hidden;">
			<ul class="nav nav-pills nav-stacked" id="pluginListPaneTab">
			</ul>
			<button type="button" class="btn btn-default col-sm-12" onclick="showNewPluginPanel()">Create New</button>
		</div>
		<div class="col-sm-8" id="pluginEditPane"></div>
		<div class="col-sm-2">
			<a class="translate" href="/pluginInfo.html" id="pluginPaneLinkToInfo" target="_blank">About Plugin</a>
		</div>
	</div>
	<script type="text/javascript">
		$(".translate").each(function(args, element) {
			$(element).translate();
		});
	</script>
</div>